<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>Donate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/beneficiary/-2069379359625602049.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  <style>
    body{
      background: #fff;
    }
    .dropdown{
       position:relative;
       display:inline-block;
       
     }
     .dropdown-content{
       display:none;
       position:absolute;
       background-color:#f9f9f9;
       min-width:300px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       padding: 12px 16px;
       z-index:1;
       font-size:20px;
       BACKGROUND:BLACK;
     }
     .dropdown-content a{
      color:#7FBC4E;
      padding: 12px 12px;
      text-decoration:none;
      display:block;
     }
     .dropdown-content a:hover{
       background-color:#ddd;
     }
     .dropdown:hover .dropdown-content{
       display:block;
      
     }
     
     .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding:10px;
}
.title {
  color: grey;
  font-size: 18px;
}
@media(max-width:320px){
  iframe{
    width:290px;
    height:250px
  }

}
@media(max-width:576px){
  iframe{
    width:400px;
  }
}
.box-causes-img{
  height:400px;
}
@media(min-width:576px){
	.callme{
	  display:none;
	}
  }
  @media(max-width: 420px){
      
      #changes{
        font-size:14px;
      }
      #changes img{
        width:20px;
        height:20px;
      }
    }
    @media(max-width: 374px){
      
      #changes{
        font-size:12px;
      }
      #changes img{
        width:15px;
        height:15px;
      }
    }
    @media(max-width: 354px){
      
      #changes{
        font-size:10px;
      }
      #changes img{
        width:10px;
        height:10px;
      }
    }

  </style>
  <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef3a6c5a922da001296fc82&product=inline-share-buttons" async="async"></script>
  
  </head>
  <body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page"><a class="section section-banner d-none d-xl-flex" href="https://www.templatemonster.com/website-templates/monstroid2.html" style="background-image: url(images/banner/background-04-1920x60.jpg); background-image: -webkit-image-set( url(images/banner/background-04-1920x60.jpg) 1x, url(images/banner/background-04-3840x120.jpg) 2x )" target="_blank"></a>
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel" style="background-color: white;">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                  </ul><img class="brand-logo-light" src="/images/Shuddhi Mail LOGO.jpg.png" alt="" width="207" height="51"/></a></div>
                  <div class="callme">
                    <button style="background:white;border:white;box-shadow:white;"></button> 
                    <button style="background:white;color:white; border: none;"><a href="tel:011-41253951" id="changes" style="float:right;color:white"><img src="https://vision.org.au/campaigns/wp-content/uploads/sites/13/2018/09/mobile-icon.png" width="30px" height="30px"></a></button>
                    
                    <button style="background:white;color:white; border: none;"><a href="https://wa.me/911141253951" id="changes" target="_blank" style="float:right;color:white;"><img src="https://banner2.kisspng.com/20180511/agq/kisspng-whatsapp-logo-computer-icons-5af5a9591ee442.6188279815260491131265.jpg" width="32px" height="32px"></a></button>
                    </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><div class="dropdown"><div class="rd-nav-link" id="drop1">Shuddhi NGO <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Ic_arrow_drop_down_circle_48px.svg/1024px-Ic_arrow_drop_down_circle_48px.svg.png" height="20px" width="20px"></div>
                        <div class="dropdown-content" id="content1">
                          <a href="/aboutus">About Us</a></br>
                          <a href="/ourpartner">Our Partners</a>
                          <!-- <a href="/causes">Causes</a>                 -->
                        </div>
                        </div>
                      </li>
                      <li class="rd-nav-item"><div class="dropdown"><div class="rd-nav-link" id="drop2"></a>Register <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Ic_arrow_drop_down_circle_48px.svg/1024px-Ic_arrow_drop_down_circle_48px.svg.png" height="20px" width="20px"></div>
                        <div class="dropdown-content" id="content2">
                          <a href="/main/registervolunteer">Volunteer</a></br>
                          <a href="/main/registermember">Member</a></br>
                          <a href="/main/registerngo">NGO</a></br>
                          <a href="/main/gov">CSR/Donor</a>
                        </div>
                        </div>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/main/login">Login</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/main/gallery">Gallery</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contactus" style="margin-right: 2rem;">Contacts</a>
                      </li>
                      <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="/donate">Donate To Shuddhi</a>
                      </li> -->
                    <a class="button button-primary button-sm" href="/donate">Donate To Shuddhi</a>

                    <a class="button button-primary button-sm" href="/main/ngo" style="background-color: #33C9FF;">Fundraiser</a>
                     
                    <!-- </ul><a class="button button-primary button-sm" href="#">Donate</a> -->
                  </div>
                </div>
                <!-- <a class="button button-primary button-sm" href="/main/form1">Donate To SHUDDHI</a> -->
              </div>
            </div>
          </nav>
        </div>
      </header>
      <script>
        $(document).ready(function(){
           $("#drop1").click(function(){
        $("#content1").toggle();
           });
          });
          $(document).ready(function(){
           $("#drop2").click(function(){
        $("#content2").toggle();
           });
          });
        </script>
      <section class="parallax-container" data-parallax-img="/images/donate.jpg">
        <div class="parallax-content breadcrumbs-custom context-dark">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-9">
                <h2 class="breadcrumbs-custom-title">DONATE</h2>
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active">Donate</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="section section-lg bg-gray-1 bg-gray-1-decor">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-6 pr-xl-5" align="center">
           <img src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/shuddhi-ngo-corona-support_orig.jpg" alt="" width="518" height="430"/><a align="center" class="button button-sm button-primary" href="/main/form1">Donate</a>
            </div>
            <div class="col-lg-6">
              <h3>CORONA RELIEF FUND - SHUDDHI NGO</h3>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4 class="text-opacity-70">SHUDDHI is a registered organisation working in India and Globally to help people and NGOs raise funds for Social Causes.</h4>
              </div>
              <p>
                Shuddhi is giving fruits, food, water and juice packs to migrants who are on road walking thousands of kms to reach their homes in India.
                The number of migrants including children, pregnant women and elderly is pacifying.
                ​Make a Donation and support more people in need.
                ​
                </p>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-gray-1 bg-gray-1-decor">
        <div class="container">
          <div class="row row-50">
           
            <div class="col-lg-6">
              <h3>Indian Army Family Welfare Support
               </h3>
              <div class="text-with-divider">
                <div class="divider"></div>
                <h4 class="text-opacity-70"> ​Donate and Help Families of Martyred Soldiers</h4>
              </div>
              <p>
                Support Families of Soldiers Who Die Fighting for India​. Shuddhi NGO sincerely supports and salutes the Families of soldiers who sacrifice their lives in the service of our country.
                </br></br>
                शहीदों को श्रद्धांजलि के साथ उनके परिवार की करें आर्थिक मदद​​ !
                ​
                </p>
            </div>
          
          <div class="col-lg-6 pr-xl-5" align="center">
            <iframe width="470" height="294" src="https://www.youtube.com/embed/mo1GunM0SQ0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <a align="center" class="button button-sm button-primary" href="/main/form1">Donate for Bravehearts</a>
             </div>
             </div>
        </div>
      </section>

      <section class="parallax-container bg-gray-600" data-parallax-img="https://scontent.fdel12-1.fna.fbcdn.net/v/t1.0-9/42255677_1015056895341245_5926018746274545664_o.jpg?_nc_cat=103&_nc_sid=cdbe9c&_nc_oc=AQmlD1Inie4cDdFSijDlG83XrJ7o7JlgNs6TNHaZsrE11SGGcUGQLrKO63o--tzUnTE&_nc_ht=scontent.fdel12-1.fna&oh=2e4f875888bc93b67d74230574399c86&oe=5F14F894">
        <div class="parallax-content section-xxl text-center">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                <div class="innset-xl-right-30 innset-xl-left-30">
                  <div class="wow slideInDown">
                    <h3>Giving is the real joy in life!!</h3>
                  </br>
                    <a align="center" class="button button-sm button-primary" href="/main/form1">Please Donate</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
       


      <section class="section section-lg bg-gray-1">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h3>Donate via UPI/Paytm</h3>
                
              </div>
            </div>
          </div>
          <div class="row row-50">
            
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img">
                    <img class="mobile" src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/published/donate-shuddhi-ngo-by-paytm-qr-india-donation.jpg?1575567290" alt="Picture" style="width:100%;max-width:100%;height:100%" />
                  </div>
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img">
                    <img class="mobile" src="/images/movimage1.jpg" alt="Picture" style="width:100%;max-width:100%;" />
                  </div> 
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><img class="mobile" src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/published/donate-ngo-india-paytm-upi-bhim-qr-code-80g-corona.jpg?1585648152" alt="Picture" style="height:100%;width:100%;max-width:100%;" />
                  </div>
                </article>
              </div>
            </div>
            </div>
          </div>
      </section>


       
        <!---
      <div><div style="height: 20px; overflow: hidden; width: 100%;"></div>
     
      <div style="height: 10px; overflow: hidden; width: 100%;"></div></div>
      
      <h2 class="wsite-content-title" style="text-align:center;"><font color="#0064f8" size="10">Donate via UPI/Paytm<br />&#8203;</font><br /></h2>
      
      <div><div class="wsite-multicol"><div class="wsite-multicol-table-wrap" style="margin:0 -15px;">
        <table class="wsite-multicol-table">
          <tbody class="wsite-multicol-tbody">
            <tr class="wsite-multicol-tr">
              <td class="wsite-multicol-col" style="width:26.204779068215%; padding:0 15px;">
                
                  
      
      <div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:30px;margin-left:0px;margin-right:0px;text-align:center">
      
      <img class="mobile" src="https://scontent.fdel12-1.fna.fbcdn.net/v/t1.0-9/42388195_1016090128571255_6455323016820686848_o.jpg?_nc_cat=109&_nc_sid=cdbe9c&_nc_oc=AQnroPDiXWy_-ilM6f068hM4QcTLbDehs2GjA_PYub4clYXT-kNNtdJ4eMOiAJzDYfI&_nc_ht=scontent.fdel12-1.fna&oh=1726866aca710b1b78f68bc19d7aacc1&oe=5F163CA6" alt="Picture" style="width:100%;max-width:100%;" />
      </a>
      <div style="display:block;font-size:90%"></div>
      </div></div>
      
      
                
              </td>				<td class="wsite-multicol-col" style="width:21.827724592016%; padding:0 15px;">
                
                  
      
      <div><div class="wsite-image wsite-image-border-none " style="padding-top:0px;padding-bottom:px;margin-left:0px;margin-right:0px;text-align:center;">
      
      <img class="mobile" src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/published/donate-shuddhi-ngo-by-paytm-qr-india-donation.jpg?1575567290" alt="Picture" style="width:100%;max-width:100%;" />
      </a>
      <div style="display:block;font-size:90%"></div>
      </div></div>
      
      
                
              </td>				<td class="wsite-multicol-col" style="width:19.40242185957%; padding:0 15px;">
                
                  
      
      <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center;">
      <a>
      <img class="mobile" src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/published/donate-ngo-india-paytm-upi-bhim-qr-code-80g-corona.jpg?1585648152" alt="Picture" style="width:100%;max-width:100%;" />
      </a>
      <div style="display:block;font-size:90%"></div>
      </div></div>
      
      <div class="paragraph" style="text-align:center;">All In One Donation QR&nbsp;</div>
      
      
                
              </td>				<td class="wsite-multicol-col" style="width:32.565074480199%; padding:0 15px;">
                
                  
      
      <div><div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
      <a>
      <img class="mobile" src="https://scontent.fdel12-1.fna.fbcdn.net/v/t1.0-9/39227361_989688831211385_4208948940831195136_o.jpg?_nc_cat=111&_nc_sid=cdbe9c&_nc_oc=AQlVWTNjpTjf7jFvRTjJ55UIdIHPuSF8FTyXFxGDQ1i0J13QQyi4xBuVtKfLwC-B7bg&_nc_ht=scontent.fdel12-1.fna&oh=1a6a11414feef3ae37fc5f5d536ef27e&oe=5F1726B3" alt="Picture" style="width:100%;max-width:100%;" />
      </a>
      <div style="display:block;font-size:90%"></div>
      </div></div>
      
      
                
              </td>			</tr>
          </tbody>
        </table>
      </div></div></div>-->
  

     



      <section class="parallax-container bg-gray-600" data-parallax-img="http://getwallpapers.com/wallpaper/full/6/f/5/99327.jpg">
        <div class="parallax-content section-xxl text-center">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                <div class="innset-xl-right-30 innset-xl-left-30">
                  <div class="wow slideInDown">
                    <h3 style="color:black;">BANK ACCOUNT DETAILS</h3>
                    <div style="padding:20px;" align="center">
                    <div class="card" style="width:48%;text-align:center;float: left;margin:1%">
                      <img src="https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Bank_of_India_logo.svg/1200px-Bank_of_India_logo.svg.png" style="width:100%">
                      
                      <p class="title">​Account Name              SHUDDHI</p>
                      <p class="title"> Account Number          608810110002607 ​</p>
                      <p class="title"> IFSC Code                      BKID0006088</p>
                      <p class="title"> Account Type                Savings Account </p>
                      <p class="title"> Bank of India, New Delhi</p>
                      
                      
                     
                    </div>
                    <div class="card" style="width:48%;text-align:center;float: left;margin:1%">
                      <img src="http://newz.ug/wp-content/uploads/2018/05/SCC.jpg" style="width:100%">
                      
                      <p class="title">​​Account Name              SHUDDHI</p>
                      <p class="title"> Account Number          54510549392</p>
                      <p class="title">IFSC Code                      SCBL0036029</p>
                      <p class="title"> Account Type                Savings Account </p>
                      <p class="title">Standard Chartered, New Delhi</p>
                     
                      
                     
                    </div>
                  </br>
                    </div>
                  
                    <h4 style="color:black;">NGO Registration Information</h4>
                      ​
                     <p style="color:#0064f8;"> ​Reg. No.  S/2020/SDM/NW/2014 </br>   80G: DEL-SE26291-07092015/6773  </br>  NITI Aayog: DL/2015/0086318  </br> PAN:  AAMAS3012R
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
      <section class="parallax-container bg-gray-600" data-parallax-img="https://tse1.mm.bing.net/th?id=OIP.7aaNbe9z7Apk9rltq_z3tQHaEo&pid=Api&P=0&w=266&h=167">
        <div class="parallax-content section-xxl text-center">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                <div class="innset-xl-right-30 innset-xl-left-30">
                  <div class="wow slideInDown">
                  <h3 style="color:black;">Donor Reviews</h3>
                    <p style="color:black;" ><img src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/published/donor-shuddhi-ngo.png?1518329708"  style="width:170px;height:170px;margin-right:15px;">
                    </br> <strong> Ms. Manju Arora</strong></br>
                      I have been associated with Shuddhi for the past few years. The activities and the effort of Shuddhi towards humanitarian issues are quite prominent. I support the organisation as it is making a great effort to bring smiles to the poor children in India. 
                  </br><strong>I wish all the very best to everyone in Shuddhi</strong></br></p>
                      <p style="color:black;"><img src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/editor/shuddhi-ngo-donate-online-india-delhi.png?1518329701"  style="width:170px;height:170px;margin-right:15px;">
                      </br> <strong>Mr. Nishant Sharma</strong></br>
                        ​I feel privileged to be associated with Shuddhi in its social works. I am really impressed with NGO Shuddhi’s works in Environment Conservation. I wish Shuddhi NGO all the best for all the wonderful work it does to make society a better place to live.
                      </br> </br> <strong>​​​​I Salute Shuddhi's Team Dedication</strong>
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="/"><img src="/images/Shuddhifooter.png" alt="" width="207" height="51"/></a></div>
              <p>Shuddhi is a Global Platform developed for People, Organisations and NGOs to Build Network of Social Workers, Raise Funds Online, Shop GoGreen Products, Organise Events etc. by using the most secure and transparent platform.</p>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="/aboutus">About Us</a></li>
                 <!-- <li><a href="/causes">Causes</a></li>-->
                  <li><a href="/main/gallery">Gallery</a></li>
                  <li><a href="/main/registervolunteer">Volunteer</a></li>
                  <li><a href="/contactus">Contacts</a></li>
                  <li><a href="https://shuddhi.org/index.html">Old Website</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="https://www.facebook.com/shuddhi.org"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="https://www.instagram.com/ngoshuddhi/"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="https://twitter.com/ngoshuddhi"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="https://www.youtube.com/ShuddhiNGO"></a></li>
                  
                </ul>
              </div>
            </div><br>
            <center><div>Share this page to:</div></center><br>
            <div class="sharethis-inline-share-buttons"></div>
           
          </div>
        </div>
      </footer>
</div>
<div class="snackbars" id="form-output-global"></div>
<script src="/javascripts/core.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>