<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <title>SHUDDHI NGO</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://d2aq6dqxahe4ka.cloudfront.net/assets/uploads/beneficiary/-2069379359625602049.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,500,600,700,800,900,900i%7CRoboto:400%7CRubik:100,400,700">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  
 
    <script type="application/ld+json">
     [ {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "name" : "Shuddhi NGO",
        "author" : {
          "@type" : "Person",
          "name" : "SHUDDHI"
        },
        "image" : "https://shuddhi.ngo/wp-content/uploads/2019/06/shuddh-ngo-india-clean-waste-charity.jpg",
        "articleSection" : [ "Care & Protection", "SHUDDHI" ],
        "articleBody" : "Saving Children"
      }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "articleBody" : "Women Empowerment"
      }, {
        "@context" : "http://schema.org",
        "@type" : "Article",
        "articleBody" : "Swachh Bharat"
      } ]
      </script>

  <style>
     .dropdown{
       position:relative;
       display:inline-block;
       
     }
     .dropdown-content{
       display:none;
       position:absolute;
       background-color:#f9f9f9;
       min-width:300px;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       padding: 12px 16px;
       z-index:1;
       font-size:20px;
       BACKGROUND:BLACK;
     }
     .dropdown-content a{
      color:#7FBC4E;
      padding: 12px 12px;
      text-decoration:none;
      display:block;
     }
     .dropdown-content a:hover{
       background-color:#ddd;
     }
     .dropdown:hover .dropdown-content{
       display:block;
     }
     @media(max-width: 320px){
       #displaythis{
         display:none;
       }
       #fixthis{
         background-attachment: fixed;
       }
     } 
     @media(max-width: 576px){
       #displaythis{
         display:none;
       }
       #fixthis{
         background-attachment: fixed;
       }
     } 
     @media(max-width: 768px){
       #displaythis{
         display:none;
       }
       #fixthis{
         background-attachment: fixed;
       }
     } 
     @media(min-width:576px){
	.callme{
	  display:none;
	}
  }
  @media(max-width: 420px){
      
      #changes{
        font-size:14px;
      }
      #changes img{
        width:20px;
        height:20px;
      }
    }
    @media(max-width: 374px){
      
      #changes{
        font-size:12px;
      }
      #changes img{
        width:15px;
        height:15px;
      }
    }
    @media(max-width: 354px){
      
      #changes{
        font-size:10px;
      }
      #changes img{
        width:10px;
        height:10px;
      }
    }

   </style>
   <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef3a6c5a922da001296fc82&product=inline-share-buttons" async="async"></script>
  </head>
  <body>
    
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container"> 
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <!-- Page Header-->
      <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer" >
              <div class="rd-navbar-main" >
                <!-- RD Navbar Panel-->
                <div class="rd-navbar-panel" style="background-color: white;">
                  <!-- RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!-- RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                  </ul><img class="brand-logo-light" src="/images/Shuddhi Mail LOGO.jpg.png" alt="" width="207" height="51"/></a></div>
                  <div class="callme">
                    <button style="background:white;border:white;box-shadow:white;"></button> 
                    <button style="background:white;color:white; border: none;"><a href="tel:011-41253951" id="changes" style="float:right;color:white"><img src="https://vision.org.au/campaigns/wp-content/uploads/sites/13/2018/09/mobile-icon.png" width="30px" height="30px"></a></button>
                    
                    <button style="background:white;color:white; border: none;"><a href="https://wa.me/911141253951" id="changes" target="_blank" style="float:right;color:white;"><img src="https://banner2.kisspng.com/20180511/agq/kisspng-whatsapp-logo-computer-icons-5af5a9591ee442.6188279815260491131265.jpg" width="32px" height="32px"></a></button>
                    </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                      <li class="rd-nav-item active"><a class="rd-nav-link" href="/">Home</a>
                      </li>
                      <li class="rd-nav-item"><div class="dropdown"><div class="rd-nav-link" id="drop1" >Shuddhi NGO <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Ic_arrow_drop_down_circle_48px.svg/1024px-Ic_arrow_drop_down_circle_48px.svg.png" height="20px" width="20px"></div>
                        <div class="dropdown-content" id="content1">
                          <a href="/aboutus">About Us</a></br>
                          <a href="/ourpartner">Our Partners</a>
                          <!-- <a href="/causes">Causes</a>                 -->
                        </div>
                        </div>
                      </li>
                      <li class="rd-nav-item"><div class="dropdown"><div class="rd-nav-link" id="drop2"></a>Register <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Ic_arrow_drop_down_circle_48px.svg/1024px-Ic_arrow_drop_down_circle_48px.svg.png" height="20px" width="20px"></div>
                        <div class="dropdown-content" id="content2">
                          <a href="/main/registervolunteer">Volunteer</a></br>
                          <a href="/main/registermember">Member</a></br>
                          <a href="/main/registerngo">NGO</a></br>
                          <a href="/main/gov">CSR/Donor</a>
                        </div>
                        </div>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/main/login">Login</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/main/gallery">Gallery</a>
                      </li>
                      <li class="rd-nav-item"><a class="rd-nav-link" href="/contactus" style="margin-right: 2rem;">Contact</a>
                      </li>
                      <!-- <li class="rd-nav-item"><a class="rd-nav-link" href="/donate">Donate To Shuddhi</a>
                      </li> -->
                    <a class="button button-primary button-sm" href="/donate">Donate To Shuddhi</a>
                    <!-- </ul><a class="button button-primary button-sm" href="#">Donate</a> -->
                  
                <a class="button button-primary button-sm" href="/main/ngo" style="background-color: #33C9FF;">Fundraiser</a></div>
                <!-- <a class="button button-primary button-sm" href="/main/form1">Donate To SHUDDHI</a> -->
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <script>
        $(document).ready(function(){
           $("#drop1").click(function(){
        $("#content1").toggle();
           });
          });
          $(document).ready(function(){
           $("#drop2").click(function(){
        $("#content2").toggle();
           });
          });
        </script>
      <% if(locals.message){ %>
        <script>
        alert("<%=message %>");
      </script>
        <% } %>
      <!-- Swiper-->
      <section class="section section-lg section-main-bunner section-main-bunner-filter">
        <div class="slides">
              <div class="main-bunner-img" style="background-image: url('https://shuddhi.ngo/wp-content/uploads/2020/03/Corona-virus-help-support-donate-india-shuddhi-ngo-2.jpg'); background-size: 100% 100%;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="row row-50 justify-content-lg-center align-items-lg-center">
              <div class="col-lg-12">
                <div class="bunner-content-modern text-center">
                  <h1 class="main-bunner-title">WELCOME TO SHUDDHI</h1>
                  <p>COVID 19 Support</p>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="slides">
        <div class="main-bunner-img" style="background-image: url('https://www.shuddhi.org/uploads/3/4/7/9/34791871/swachh-bharat-ngo-india-shuddhi_orig.jpg'); background-size: 100% 100%;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="row row-50 justify-content-lg-center align-items-lg-center">
              <div class="col-lg-12">
                <div class="bunner-content-modern text-center">
                  <h1 class="main-bunner-title">WELCOME TO SHUDDHI</h1>
                  <p>Swachh Bharat Abhiyaan </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div class="slides">
          <div class="main-bunner-img" style="background-image: url('https://cdn.glamour.ro/wp-content/uploads/2018/10/06175545/unde-iesim-evenimente.jpg'); background-size: 100% 100%;"></div>
          <div class="main-bunner-inner">
            <div class="container">
              <div class="row row-50 justify-content-lg-center align-items-lg-center">
                <div class="col-lg-12">
                  <div class="bunner-content-modern text-center">
                    <h1 class="main-bunner-title">WELCOME TO SHUDDHI</h1>
                    <p>Women Development</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
          <div class="slides">
            <div class="main-bunner-img" style="background-image: url('https://shuddhi.ngo/wp-content/uploads/2019/08/SHUDDHI-GLOBAL-NGO.jpg'); background-size: 100% 100%;"></div>
            <div class="main-bunner-inner">
              <div class="container">
                <div class="row row-50 justify-content-lg-center align-items-lg-center">
                  <div class="col-lg-12">
                    <div class="bunner-content-modern text-center">
                      <h1 class="main-bunner-title">WELCOME TO SHUDDHI</h1>
                      <p>Child Education</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
        <div class="slides">
        <div class="main-bunner-img" style="background-image: url('https://www.shuddhi.org/uploads/3/4/7/9/34791871/jute-bag-shuddhi-ngo-india_orig.jpeg'); background-size: 100% 100%;"></div>
        <div class="main-bunner-inner">
          <div class="container">
            <div class="row row-50 justify-content-lg-center align-items-lg-center">
              <div class="col-lg-12">
                <div class="bunner-content-modern text-center">
                  <h1 class="main-bunner-title">WELCOME TO SHUDDHI</h1>
                  <p>Go Green Products</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </br>
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
            </section>
      
            <script>
              var slideIndex = 0;
              showSlides();
              
              function showSlides() {
                var i;
                var slides = document.getElementsByClassName("slides");
                var dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                  slides[i].style.display = "none";  
                }
                slideIndex++;
                if (slideIndex > slides.length) {slideIndex = 1}    
                for (i = 0; i < dots.length; i++) {
                  dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";  
                dots[slideIndex-1].className += " active";
                setTimeout(showSlides, 3000); // Change image every 3 seconds
              }
              </script>
      <section class="section section-xl">
        <div class="container">
          <div class="row row-50 justify-content-lg-between align-items-lg-center">
            <div class="col-lg-6">
              <div class="box-img-animate">
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }" id="displaythis"><img src="/images/movimage1.jpg" height="153px" width="217px"  alt=""></div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;: 150, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }" id="displaythis"><img src="https://www.shuddhi.org/uploads/3/4/7/9/34791871/ngo-membership-india-shuddhi-online_1_orig.jpg" height="191px" width="271px" alt=""></div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:70, &quot;x&quot;: -250,  &quot;smoothness&quot;: 50 }" id="displaythis"><img src="/images/movimage2.jpg" width="271px" height="191px" alt=""></div>
             
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:20, &quot;x&quot;: 20,  &quot;smoothness&quot;: 50 }" id="fixthis"><img src="https://shuddhi.ngo/wp-content/uploads/2019/06/shuddh-ngo-india-clean-waste-charity.jpg" width="339px" height="236px" alt=""></div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:60, &quot;x&quot;: 70,  &quot;smoothness&quot;: 50 }" id="displaythis"><img src="/images/movimage3.jpg" width="179px" height="126" alt=""></div>
                <div class="box-img-animate-item" data-parallax-scroll="{&quot;y&quot;:0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }" id="displaythis"><img src="/images/movimage4.jpg" width="217px" height="153px" alt=""></div>
           </div>
            </div>
            <div class="col-lg-6 col-xl-5">
              <div class="innset-xl-left-70">
                <h3>Shuddhi NGO</h3>
                <p class="text-opacity-80" style="font-weight: 600;">SHUDDHI™ is a registered NGO
                  Non Governmental Organisation
                  ​working together with Partners &
                  ​Local Communities in India &
                  ​Globally to improve 
                  Environment ​& Human Well-Being<br></p>
                  <p style="font-weight: 600;">Shuddhi NGO is registered under the Societies Registration Act XXI, 1860 and is a <strong style="color:rgb(119, 119, 119)"><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">80G&nbsp;</a></strong><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">&amp;&nbsp;</a><strong style="color:rgb(119, 119, 119)"><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">12A</a>&nbsp;</strong>Certified Non Profit Headquartered in New Delhi</p>
                <div class="row row-50">
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-triangle"><span class="icon-xl linearicons-baby2 icon-primary"></span></div>
                      <div class="box-icon-caption">
                        <h4><a href="#">Saving Children</a></h4>
                        <p>Our main mission is to save and rescue permanently displaced children.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-circle"><span class="icon-xl linearicons-sun icon-primary"></span></div>
                      <div class="box-icon-caption">
                        <h4><a href="#">Peace On The Planet</a></h4>
                        <p>By working with our partners, we aim to establish peaceful relationships.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-12">
                    <div class="box-icon-modern">
                      <div class="box-icon-inner decorate-rectangle"><span class="icon-xl linearicons-umbrella2 icon-primary"></span></div>
                      <div class="box-icon-caption">
                        <h4><a href="#">Care &amp; Protection</a></h4>
                        <p>We provide global care and protection to support children all over the world.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<section class="section section-lg bg-gray-1">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h3>Causes that need your concern</h3>
                <p>There’s no place for hunger: access to good quality food for all is possible, and essential for a thriving society. Everyone should have access to good food. No one should have to go to bed hungry. At SHUDDHI, we exist to make giving go further, so together we can transform more lives and communities around the world.</p>
              </div>
            </div>
          </div>
          <div class="row row-50">

          
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><img src="/images/women.jpeg" width="396px" height="372px" alt="" ><a class="button button-sm button-primary" href="/main/form1">Donate</a>
                  </div>
                  <h4 class="font-weight-medium"><a href="/main/form1">Women Empowerment</a></h4>
                <!--  <p class="box-causes-donate"><span class="box-causes-donate-complete">$92,160</span> of <span>$100,000</span> raised
                  </p>   https://scontent.fdel12-1.fna.fbcdn.net/v/t31.0-8/28617188_876929182487351_8122191660608622357_o.jpg?_nc_cat=105&_nc_sid=0debeb&_nc_oc=AQnO-GcTqL4HRCHmIJUvdvEOwCXoqOeEzScVfTryGZPa_ixXRJo1NHXovmkJKeaVuz0&_nc_ht=scontent.fdel12-1.fna&oh=e590ef292890c196120f6f290d3ab449&oe=5F157FA3  -->
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><img src="/images/digital.jpeg" alt="" width="396px" height="372px"><a class="button button-sm button-primary" href="/main/form1">Donate</a>
                  </div>
                  <h4 class="font-weight-medium"><a href="/main/form1">Digital Child Education</a></h4>
                  <!-- <p class="box-causes-donate"><span class="box-causes-donate-complete">$52,380</span> of <span>$55,000</span> raised
                  </p> -->
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><img src="/images/clean.jpg" alt="" width="396px" height="372px"><a class="button button-sm button-primary" href="/main/form1">Donate</a>
                  </div>
                  <h4 class="font-weight-medium"><a href="/main/form1">Swachh Bharat</a></h4>
                  <!-- <p class="box-causes-donate"><span class="box-causes-donate-complete">$52,380</span> of <span>$55,000</span> raised
                  </p> -->
                </article>
              </div>
            </div>

            
          </div>
        </div>
      </section> 


      <section class="parallax-container bg-gray-600" data-parallax-img="/images/corona.jpeg" >
        <div class="parallax-content section-xxl text-center">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                <div class="innset-xl-right-30 innset-xl-left-30">
                  <div class="wow slideInDown">
                  <h3>Giving is the real joy in life!</h3>
                  </br><h4></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <section class="section section-lg bg-gray-1">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-9 col-lg-7 wow-outer">
              <div class="wow slideInDown">
                <h3>Our Works & Awards</h3>
                <p>Shuddhi NGO is a registered Non-Governmental Organisation working together with Partners and Local Communities globally to improve Human Well-Being & Environment.
                </br>
                  Shuddhi NGO is registered under the Societies Registration Act XXI, 1860 and is a <strong style="color:rgb(119, 119, 119)"><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">80G&nbsp;</a></strong><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">&amp;&nbsp;</a><strong style="color:rgb(119, 119, 119)"><a href="https://shuddhi.org/uploads/3/4/7/9/34791871/80g___12a_certificates_shuddhi_ngo.pdf">12A</a>&nbsp;</strong><font color="#000000"><font size="2">Certified Non Profit Headquartered in New Delhi</font></font></p>
              </div>
            </div>
          </div>
          <div class="row row-50">
            
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><iframe width="350" height="238" src="https://www.youtube.com/embed/ZbNoLt908tM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><iframe width="350" height="238" src="https://www.youtube.com/embed/Zi7jJMikZ7Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div> 
                </article>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 wow-outer">
              <div class="wow fadeInUp">
                <article class="box-causes">
                  <div class="box-causes-img"><iframe width="350" height="238" src="https://www.youtube.com/embed/XQ5cn5M7IAA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </article>
              </div>
            </div>
            </div>
          </div>
      </section>





      <section class="parallax-container bg-gray-600" data-parallax-img="images/7.png">
        <div class="parallax-content section-xxl text-center">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
                <div class="innset-xl-right-30 innset-xl-left-30">
                  <div class="wow slideInDown">
                    <h3>Subscribe to Stay Informed</h3>
                    <form class="rd-form rd-mailform rd-form-inline" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                      <div class="form-wrap">
                        <input class="form-input" id="subscribe-form-email" type="email" name="email" data-constraints="@Email @Required">
                        <label class="form-label" for="subscribe-form-email">Your E-mail</label>
                      </div>
                      <div class="form-button">
                        <button class="button button-primary button-lg" type="submit">Subscribe</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


  
      

      <!-- Page Footer-->
      <footer class="section footer-minimal context-dark">
        <div class="container wow-outer">
          <div class="wow fadeIn">
            <div class="row row-50 row-lg-60">
              <div class="col-12"><a href="/"><img src="/images/Shuddhifooter.png" alt="" width="207" height="51"/></a></div>
              <p>Shuddhi is a Global Platform developed for People, Organisations and NGOs to Build Network of Social Workers, Raise Funds Online, Shop GoGreen Products, Organise Events etc. by using the most secure and transparent platform.</p>
              <div class="col-12">
                <ul class="footer-minimal-nav">
                  <li><a href="/aboutus">About Us</a></li>
                  <!--<li><a href="/causes">Causes</a></li>-->
                  <li><a href="/main/gallery">Gallery</a></li>
                  <li><a href="/main/registervolunteer">Volunteer</a></li>
                  <li><a href="/contactus">Contacts</a></li>
                  <li><a href="https://shuddhi.org/index.html">Old Website</a></li>
                </ul>
              </div>
              <div class="col-12">
                <ul class="social-list">
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-facebook" href="https://www.facebook.com/shuddhi.org"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-instagram" href="https://www.instagram.com/ngoshuddhi/"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-twitter" href="https://twitter.com/ngoshuddhi"></a></li>
                  <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-youtube-play" href="https://www.youtube.com/ShuddhiNGO"></a></li>
                  
                </ul>
              </div>
            </div><br>
            <center><div>Share this page to:</div></center><br>
            <div class="sharethis-inline-share-buttons"></div>
          </div>
        </div>
      </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
      <script src="/javascripts/core.min.js"></script>
      <script src="/javascripts/script.js"></script>

  </body>
  
  

</html>