<!-- <!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>STET EXAM LOGIN</title>

</head>
<style>
  html {
    width: 100%;
    height: 100%;
  }

  body {

    color: rgba(0, 0, 0, 0.6);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .overlay,
  .form-panel.one:before {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  .form {
    z-index: 15;
    position: relative;
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
  }

  .form-toggle {
    z-index: 10;
    position: absolute;
    top: 60px;
    right: 60px;
    background: #FFFFFF;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: translate(0, -25%) scale(0);
    transform: translate(0, -25%) scale(0);
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .form-toggle:before,
  .form-toggle:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 4px;
    background: #4285F4;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .form-toggle:before {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .form-toggle:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .form-toggle.visible {
    -webkit-transform: translate(0, -25%) scale(1);
    transform: translate(0, -25%) scale(1);
    opacity: 1;
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
  }

  .form-group:last-child {
    margin: 0;
  }

  .form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  .two .form-group label {
    color: #FFFFFF;
  }

  .form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    transition: 0.3s ease;
  }

  .form-group input:focus {
    color: rgba(0, 0, 0, 0.8);
  }

  .two .form-group input {
    color: #FFFFFF;
  }

  .two .form-group input:focus {
    color: #FFFFFF;
  }

  .form-group button {
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
  }

  .two .form-group button {
    background: #FFFFFF;
    color: #4285F4;
  }

  .form-group .form-remember {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
  }

  .form-group .form-remember input[type='checkbox'] {
    display: inline-block;
    width: auto;
    margin: 0 10px 0 0;
  }

  .form-group .form-recovery {
    color: #4285F4;
    font-size: 12px;
    text-decoration: none;
  }

  .form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
  }

  .form-panel.one:before {
    content: '';
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
  }

  .form-panel.one.hidden:before {
    display: block;
    opacity: 1;
    visibility: visible;
  }

  .form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #4285F4;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
    transition: 0.3s ease;
    cursor: pointer;
  }

  .form-panel.two:after {
    left: 3%;
  }

  .form-panel.two:hover {
    left: 93%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .form-panel.two:hover:before,
  .form-panel.two:hover:after {
    opacity: 0;
  }

  .form-panel.two.active {
    left: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: default;
  }

  .form-panel.two.active:before,
  .form-panel.two.active:after {
    opacity: 0;
  }

  .form-header {
    margin: 0 0 40px;
  }

  .form-header h1 {
    padding: 4px 0;
    color: #4285F4;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .two .form-header h1 {
    position: relative;
    z-index: 40;
    color: #FFFFFF;
  }

  .pen-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 20px auto 100px;
  }

  .pen-footer a {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 1px 2px 0 rgba(0, 0, 0, 0.1);
  }

  .pen-footer a .material-icons {
    width: 12px;
    margin: 0 5px;
    vertical-align: middle;
    font-size: 12px;
  }

  .cp-fab {
    background: #FFFFFF !important;
    color: #4285F4 !important;
  }
</style>

<body>

  <!-- Form-->
  <!-- <div class="form">
    <div class="form-toggle"></div>
    <div class="form-panel one">
      <div class="form-header">
        <h1>Account Login</h1>
      </div>
      <div class="form-content">
        <form method="post">

          <div class="form-group">
            <% if(locals.message){ %>
            <%=message %>
            <% } %>
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" required="required" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required="required" />
          </div>
          <div class="form-group">
            <label class="form-remember">
              <input type="checkbox" />Remember Me
            
          </div>
          <div class="form-group">
            <button type="submit">Log In</button>
          </div>
        </form>
      </div>
    </div>

  </div>


</body>

</html> --> -->

<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V17</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
<!--===============================================================================================-->


</head>

<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/images/backlogin1.jpeg');">
			<div class="wrap-login100" style="background-color: #e6e5e1;">
				<form class="login100-form validate-form" method="post" style="background-color:#e6e5e1;" enctype="multipart/form-data">
					<span class="login100-form-title p-b-34">
						<h2 style="margin-right: -2rem; margin-left: -1rem; margin-bottom: -2rem; color: #0a69f0; font-weight: 600;">Logo !!</h2></br></br></br>
					</span>
					<div class="form-group">
						<label for="file" style="margin-left:0rem; font-size: 1.5rem;">Upload Image</label><br>
						<input type="file" id="email" name="logo" placeholder=" Your Image" style="width: 18rem; height: 2rem;" />
					  </div>
            <br>
					  <div class="form-group">
						<button type="submit" style="background-color: #0a69f0; width: 15rem; height: 2.5rem; border-radius: 0.7rem; margin-left: 1.5rem;">Upload</button>
					  </div>

										
				</form>

				<div class="login100-more" style="background-image: url('/images/log.jpeg')" ></div>
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<script>
		$(".selection-2").select2({
			minimumResultsForSearch: 20,
			dropdownParent: $('#dropDownSelect1')
		});
	</script>
<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="/javascripts/main.js"></script>

</body>
</html>